body{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: #e5e5e5;
   
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 0 ;
  
   
}
.card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: white;
    padding: 20px;
    margin:10px;
    border-radius: 0.5rem;
}
.card:hover{
    background: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}
.image {
    object-fit: cover;
    opacity: 0.4;
    background-color: aqua;
}
.cut-text{
   color: red;

}
@media screen and (max-width : 900px){
    .container{
        padding: 5%;
    }
    .cut-text{
        display: none;
    }
}
        